common --registry=https://raw.githubusercontent.com/vertexwahn/bazel-registry/main
# add bazelboost registry
common --registry=https://raw.githubusercontent.com/bazelboost/registry/main
# common --registry=https://raw.githubusercontent.com/gramic/bazel-registry/main
common --registry=https://bcr.bazel.build

common --enable_bzlmod
# common --process_headers_in_dependencies
# common --enable_platform_specific_config

build --cxxopt='-std=c++17'
# build --incompatible_disallow_empty_glob
# build --verbose_failures
# build --worker_sandboxing
# build --experimental_output_directory_naming_scheme=diff_against_dynamic_baseline

# build:linux --sandbox_add_mount_pair=/tmp
# build:macos --sandbox_add_mount_pair=/var/tmp
# build:windows --sandbox_add_mount_pair=C:\Temp
# 
# test --sandbox_default_allow_network=false
# test --test_output=errors
